@import url("../root.css");

.stay-container{
    background-image: url("../../images/leavenworth.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    padding-top: 1em;
    font-family: 'Slabo', serif;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-top: 4em; 
}

@media only screen and (max-width: 425px)  {
    .card-container{
        grid-template-columns: 1fr;
        gap: 8px;
        padding-top: 3em;
    }

    .stay-container{
        height: 75vh;
    }
}