@import url("../root.css");

.hero {
    background-image: url("../../images/cool-beach.jpg");
    background-size: cover;
    height: 110vh;
    background-attachment: fixed;
}

.headerName {
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: .35px .35px #000000;
    margin: 10px;
}

.heroText{
    position: absolute;
    margin: auto;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: 'Slabo', serif;
    color: white;
    text-shadow: 0.5px 0.5px black;
}

.container {
    padding: 20px 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    transition: .5s;
    background-color: var(--platinum);
    text-align: center;
}

.containerTransparent {
    padding: 10px 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    transition: .5s;
    text-align: center;
    color: white;
}

.containerScrolled {
    color: black;
}

.link {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: var(--oxford-blue);
    transition: .2s;
}

.link:hover {
    font-weight: bold;
}

.nav {
    transition: .1s;
}

.navNoDisplay {
    display: none;
}
