@import url("../root.css");

.footer-container {
    background-color: var(--oxford-blue);
    color: white;
    text-align: center;
    height: 100%;
    font-size: large;
}

.footer-content {
    padding: 20px;    
}